@model List<Mabit.Models.Model.Common.TopRoom>
@{
    Layout = null;
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var countries = ViewBag.Country as List<Mabit.Models.Model.Common.Country>;
}
<style>




    .container-child-map {
        position: relative;
        height: 100%;
    }

    .container-map {
        width: 33.33%;
        display: block;
        position: sticky;
        height: calc(100vh - 128px);
        right: auto;
        right: 0;
        top: 80px;
        margin-bottom: 25px;
    }

    #page-search-btn {
        margin: 2px 2px 3px 2px !important;
    }
</style>
<style>
    .price-label {
        background: #eaeefe;
        border-radius: 0 0 5px 5px;
        padding: 15px 5px;
        position: relative;
        top: 11px;
        vertical-align: -webkit-baseline-middle;
        vertical-align: middle;
    }

    .mabit-light-gray {
        color: #cfcfcf;
    }

    .mabit-middle-gray {
        color: #acacac;
    }

    .bg-detail-box {
        background: #f0f0f0 !important;     
    }
    .text-dark{
        font-weight:bold;
    }
</style>
@if (culture == "fa" || culture == "ar")
{
    <style>
        .price-label {
            top: 14px !important;
            right: 13px !important;
        }
    </style>
}
<div class="col-12 col-md-6 col-lg-6 col-xl-8">
    <div class="row">

        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                var id = "demo" + item.id.ToString();
                var isFirst = true;


                <div class="col-lg-6 col-xl-4 col-md-12 col-12">
                    <div class="row mr-0 ml-0" style="height: 193px;">
                        <div class="col-12 col-lg-12 col-sm-12 pr-0 pl-0">
                            <div id="@(id)" class="carousel slide">
                                <!-- Indicators -->
                                <ul class="carousel-indicators">
                                    @*
                                        <li data-target="#@id" data-slide-to="0" class="active"></li>
                                        <li data-target="#@id" data-slide-to="1"></li>
                                        <li data-target="#@id" data-slide-to="2"></li>*@
                                </ul>

                                <!-- The slideshow -->
                                <div class="carousel-inner brd-t-r-6">
                                    @if (item.pictures != null)
                                    {
                                        @foreach (var picture in item.pictures)
                                        {

                                            if (isFirst)
                                            {

                                                <div class="carousel-item active">
                                                    <img src="@(picture==null ? "~/img/layer_893.jpg" : picture.apiUrl)" alt="@(item.title)" width="100%"
                                                         class="img-fluid brd-t-r-20 w-100" asp-append-version="true">
                                                </div>
                                                isFirst = false;
                                            }
                                            else
                                            {
                                                <div class="carousel-item">
                                                    <img src="@(picture==null ? "~/img/layer_893.jpg" : picture.apiUrl)" alt="@(item.title)" width="100%"
                                                         class="img-fluid brd-t-r-20 w-100" asp-append-version="true">
                                                </div>
                                            }

                                        }
                                    }
                                    else
                                    {
                                        for (int i = 0; i < 3; i++)
                                        {
                                            if (isFirst)
                                            {

                                                <div class="carousel-item active">
                                                    <img src="~/img/layer_893.jpg" alt="@(item.title)" width="100%"
                                                         class="img-fluid brd-t-r-20 w-100" asp-append-version="true">
                                                </div>
                                                isFirst = false;
                                            }
                                            else
                                            {
                                                <div class="carousel-item">
                                                    <img src="~/img/layer_893.jpg" alt="@(item.title)" width="100%"
                                                         class="img-fluid brd-t-r-20 w-100" asp-append-version="true">
                                                </div>
                                            }
                                        }
                                    }
                                    <div>
                                        <img src="~/img/copy (1)-svg.svg" class="like-action" style="width: 39px;right: 0% !important;top: 0% !important;background:none !important;border-radius:unset !important" />
                                    </div>

                                </div>
                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#@id" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#@id" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row box-shadow-1 text-box-position mr-0 ml-0">
                        <div class="col-12 col-lg-12 col-sm-12">
                            <div class="row pb-1">
                                <div class="col-lg-8 col-sm-8 col-8 container-title">
                                    <h6 class="text-dark mr-1 m-0 align-middle pt-3">@(item.title)</h6>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-4 text-center">
                                    <span class="mabit-blue f-size-15 price-label">@item.middleWeekPrice</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12 col-sm-12">
                            <span class="mabit-darkGray">@(item.Province.title)<span class="mabit-darkGray">,</span> @(item.Country.title)</span>
                        </div>
                        <div class="col-12 col-lg-12 col-sm-12">
                            <i class="fa fa-star f-size-14 mabit-light-gray"></i><span class="mabit-darkGray f-size-11"> @(item.averageRate) <span localize-content>rate of</span> 34 <span localize-content>users</span></span>
                        </div>
                        <div class="col-12 col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-3">
                                    <span class="mabit-light-gray" localize-content>Room:</span>
                                </div>
                                <div class="col-9">
                                    <span class="f-size-20 mabit-darkGray">@(item.roomCount)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12 col-sm-12 pt-1">
                            <div class="row">
                                <div class="col-3">
                                    <span class="mabit-light-gray" localize-content>Area:</span>
                                </div>
                                <div class="col-9">
                                    <span class="f-size-20 mabit-darkGray">@(item.buildingArea) M</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12 col-sm-12 pt-1">
                            <div class="row mb-3">
                                <div class="col-3">
                                    <span class="mabit-light-gray" localize-content>Features:</span>
                                </div>
                                <div class="col-9">
                                    <span>
                                        <i class="fa fa-wifi"></i>
                                    </span>
                                    <span class="ml-2">
                                        <i class="fa fa-tv"></i>
                                    </span>
                                    <span class="ml-2">
                                        <i class="fa fa-toilet"></i>
                                    </span>
                                    <span class="ml-2">
                                        <i class="fa fa-shower"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row box-shadow-1 brd-b-r-20 text-box-position mr-0 ml-0 bg-detail-box">
                        <div class="col-12 col-lg-12 col-sm-12 text-center pt-2 pb-2">
                            @*<a href="#" class="mabit-blue">Detail</a>*@
                            <a asp-area="" asp-controller="Room" asp-action="Detail" asp-route-id="@item.id" class="mabit-blue" asp-route-culture="@culture" localize-content>
                                Detail
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="col-12 col-md-6 col-lg-6 col-xl-4 container-map">
    <div class="container-child-map">
        <div id="map"></div>
    </div>
</div>
<script src="~/css/Hamid/js/leaflet.js"></script>
<script src="~/css/Hamid/js/leaflet-list-markers.js"></script>
<script src="~/css/Hamid/js/cities-italy.js"></script>
<script>


    var cityList =@Html.Raw(Json.Serialize(Model));
    debugger;
    if (cityList.length != 0) {


        var map = new L.Map('map', { zoom: 15, minZoom: 5, center: L.latLng(cityList[0].latitude, cityList[0].longitude) });

        map.addLayer(new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'));

          var markersLayer = new L.LayerGroup();
        for (var i in cityList) {
            var popup = '<b>Name:</b> ' + cityList[i].title +
        '<br/><b>Latitude:</b> ' + cityList[i].latitude +
        '<br/><b>Longitude:</b> ' + cityList[i].longitude;
            L.marker(L.latLng(cityList[i].latitude, cityList[i].longitude), { title: cityList[i].name }).bindTooltip(popup).addTo(markersLayer);
        }
             //L.rectangle([(cityList[i].latitude, cityList[i].longitude)], { title: cityList[i].name }).bindTooltip(cityList[i].title).addTo(markersLayer);
           // L.rectangle(L.latLng(cityList[i].latitude, cityList[i].longitude), { title: cityList[i].name }).bindTooltip(cityList[i].title).addTo(markersLayer);
              

        map.addLayer(markersLayer);



        ////////////populate map from cities-italy.js

        debugger;
        //for (var i in cityList)
        //  L.marker(L.latLng(cityList[i].latitude, cityList[i].longitude), { title: cityList[i].name,listid: cities[i].listid }).addTo(markersLayer);
        //for (var i in cities)
        //    L.marker(L.latLng(cities[i].loc), { title: cities[i].name, listid: cities[i].listid }).addTo(markersLayer);

        //inizialize Leaflet List Markers
        var list = new L.Control.ListMarkers({ layer: markersLayer, itemIcon: null });

        list.on('item-mouseover', function (e) {
            e.layer.setIcon(L.icon({
                iconUrl: '~/img/select-marker.png'
            }))
        }).on('item-mouseout', function (e) {
            e.layer.setIcon(L.icon({
                iconUrl: '~/img/marker-icon.png'
            }))
        });

        map.addControl(list);
         }

</script>