@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@model WebUI.Models.HomeViewModel
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;

}
@if (culture == "fa" || culture=="ar")
{
    <style>
        .home-section-title {
                border-right: 3px solid #4567f4 !important;
                text-align: right !important;
                padding-right: 10px !important;
                border-left:none !important;
                padding-left:0 !important;
         }
    </style>
}
<div class="wrapper">
    <div class="home-section-title">
        <h2 style="font-weight:bold;" localize-content>Best of week</h2>
    </div>
    @if (Model.TopRooms?.Count > 0)
    {
        <div class="place-items-top ltr">
            <div class="place-items-parent owl-carousel owl-theme">
                @foreach (var item in Model.TopRooms)
                {
                    <div class="list-item-alt" id="item-1">
                        <img src="@(item.pictures.First().apiUrl)" class="list-img">
                        <div class="list-title-price">
                            <div class="list-title">
                                @(item.title)
                            </div>
                            <div class="list-price">
                                @(item.middleWeekPrice) $
                            </div>
                        </div>
                        <div class="list-city">
                            @(item.Province.title), @(item.Country.title)
                        </div>
                        <div class="list-star">
                            @(item.averageRate) <span localize-content>rate of</span> 34 <span localize-content>users</span>
                        </div>
                        <div class="list-features-parent">
                            <div class="list-feature"></div>
                            <div class="list-feature"></div>
                            <div class="list-feature"></div>
                            <div class="list-feature"></div>
                            <div class="list-feature"></div>
                        </div>
                        <div class="list-footer">
                            <div class="list-footer-item">
                                <a style="height: 30px;line-height: 27px;" asp-area="" asp-controller="Room" asp-action="Detail" asp-route-id="@item.id" class="btn bg-mabit-blue text-white pt-0 pb-0 detail-btn f-size-12" asp-route-culture="@culture" localize-content>
                                    Detail
                                </a>
                                @*<a href="#">
                                    <div class="list-footer-detail">Detail</div>
                                </a>*@
                            </div>
                            <div class="list-footer-item">
                                <img src="~/img/rooms.svg"> @(item.roomCount)
                            </div>
                            <div class="list-footer-item">
                                <img src="~/img/house-scale.svg">@(item.buildingArea)
                            </div>
                        </div>
                    </div>
                }
            </div>
            @*<div class="see-all-btn">
                    <a style="height: 30px;line-height: 27px;padding: 30px;" asp-area="" asp-controller="Room" asp-action="SeeAll" class="btn bg-mabit-blue text-white pt-0 pb-0 detail-btn f-size-12" asp-route-culture="@culture" localize-content>
                        See All
                    </a>
                </div>*@
        </div>
        <div>
            <div class="see-all-btn">
                <a asp-area="" asp-controller="Room" asp-action="SeeAll" class="btn bg-mabit-blue text-white pt-0 pb-0 detail-btn f-size-12" asp-route-culture="@culture" localize-content>
                    See All
                </a>
            </div>
        </div>


    }
</div>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            ltr: true,
            autoplay: true,
            loop: true,
            autoWidth: true,
            dots: false,
            margin: 4,
            responsiveClass: true,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4,
                    loop: true
                }
            }
        })
    })
</script>

<div class="gap"></div>
<div class="mt-4">
<div class="wrapper">
    <div class="home-section-title">
        <h2 style="font-weight:bold;" localize-content>Most Popular cities</h2>
    </div>
</div>

<div id="popular-cities" class="owl-carousel owl-theme ltr">
    @if (Model.TopCities?.Count > 1)
    {
        foreach (var item in Model.TopCities)
        {

            <a href="#">
                <div class="popular-cities-items">
                    @if (item.profileImageUrl == "http://185.173.105.237:81")
                    {


                        <img src="~/img/mashhad.png">
                    }
                    else
                    {
                        <img style="height:100%;" src="@(item.profileImageUrl)">
                    }
                    <div class="popular-cities-items-title">
                        <b>@(item.title)</b>
                        <span>@(item.RoomCount) items</span>
                    </div>
                </div>
            </a>
        }
    }
</div>
    </div>