@model WebUI.Models.HostingViewModel
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<div class="items">
    <h5>Category</h5>
    <p class="mb-0" localize-content>
        Specify the classification of your hotel rooms
    </p>

    <div class="item table-main table-main-category">
        <table id="category"
               class="table table-light table-prs table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Area</th>
                    <th>Double bed</th>
                    <th>Bed</th>
                    <th>Options</th>
                    <th>Images</th>
                    <th></th>
                </tr>
                <tr class="input-row">
                    <td><input id="category-name" type="text" /></td>
                    <td><input id="category-area" type="text" /></td>
                    <td><input id="category-double" type="text" /></td>
                    <td><input id="category-bed" type="text" /></td>
                    <td>
                        <div class="button-group combo-box">
                            <button type="button"
                                    class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                            <ul id="category-options" class="dropdown-menu">
                                <li class="custom-control custom-checkbox">
                                    <a href="#" class="small" tabIndex="-1">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </a>
                                </li>
                                @foreach (var item in Model.CategoryOptions)
                                {
                                    <li>
                                        <a href="#" class="small" data-value="option1"
                                           tabIndex="-1">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox"
                                                       class="custom-control-input"
                                                       id="@(item.Id)" value="@(item.Id)" data-value="@(item.Title)">
                                                <label class="custom-control-label"
                                                       for="@(item.Id)">&nbsp;@(item.Title)</label>
                                            </div>
                                            <!--                                                                        <input type="checkbox" value="Wifi"  class="custom-control-input"/>-->
                                            <!--                                                                        <span class="custom-control-indicator"></span>&nbsp;Wifi-->
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </td>
                    <td style="width: 25%" id="category-images">
                        <ul class="uploaded-img" id="avatar-preview">
                            @*<li class="avatar-preview">
                                    <div style="background-image: url('~/img/nature.jpg')"></div>
                                    <i class="fa fa-times"></i>
                                </li>
                                <li class="avatar-preview">
                                    <div style="background-image: url('~/img/nature2.jpg')"></div>
                                    <i class="fa fa-times"></i>
                                </li>*@
                        </ul>

                        <div class="fileUpload" id="fileUpload-btn">
                            <input type='file' id="imageUpload"
                                   accept=".png, .jpg, .jpeg" class="upload" />
                            <i class="fa fa-image"></i>
                        </div>

                    </td>
                    <td>
                        <button id="btn-new-category" style="width: 60px;" class="new-button">
                            <i class="fa fa-plus"></i>
                            New
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody class="tbody" >
             
            </tbody>
        </table>
    </div>
    
</div>
<div class="btn-container p-1">
    <button type="button" class="btn-step-prev res-btn-gray"
            data-class=".res-form-nine">
        Back
    </button>
    <button type="button"
            class="btn-step res-btn-orange mb-2"
            data-class=".res-form-nine">
        Next
    </button>
</div>

<script>
    var picturesId = [];
    var formDatab = new FormData();
    $("#btn-new-category").click(function () {
        debugger;
        loadingBoxStart();
        getFormData();
        UploadImage();

    });
    function getFormData() {
        $(".container-hotel-cat-img").each(function () {
            var bg = $(this).css('background-image');
            bg = bg.replace('url(', '').replace(')', '').replace(/\"/gi, "");
            formDatab.append("base64", bg.split(',')[1]);
            debugger;
        })
    }

    function UploadImage() {
        debugger;
        $.ajax({
            url: '@Url.Action("UploadImageString", "Hosting")',
            data: formDatab,
            processData: false,
            contentType: false,
            type: "POST",
            type: "POST",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    picturesId.push(data[i]);
                }
                saveHotelCategory();
            }

        });
    }

    function saveHotelCategory() {
        debugger;
        var options = [];
        var optionsval = [];
        $("input:checkbox").each(function () {
            var $this = $(this);
            if ($this.is(":checked")) {
                options.push($this.attr("id"));
                optionsval.push($this.attr("data-value"));
            }
        });
        var Name = $("#category-name").val();
        var Area = $("#category-area").val();
        var DoubleBed = $("#category-double").val();
        var Bed = $("#category-bed").val();
        var HotelCategoryOptionsId = options;
        //var input = document.getElementById("file-1");
        //var files = input.files;
        var formData = new FormData();
            $.ajax({
                url: '@Url.Action("AddCategoryHotel", "Hosting")',
                type: 'Post',
                data: {
                    Name: Name,
                    Area: Area,
                    DoubleBed: DoubleBed,
                    Bed: Bed,
                    HotelCategoryOptionsId: HotelCategoryOptionsId,
                    picturesId: picturesId,
                    hotelId: hotelId
                },
                success: function (res) {
                    if (res.valid) {
                        loadingBoxStop();
                        debugger;
                        addTableRow(Name, Area, DoubleBed, Bed, optionsval);
                        //saveHotelImages();
                    }
                    debugger;
                    $.each(res.errors, function (key, value) {
                        debugger;
                        if (value != null) {
                            debugger;
                             var errorMessageTemplate = '<div class="row">' + value[0].errorMessage + '</div>';
                             $("#roomMessage").append(errorMessageTemplate);
                             $("#roomMessage").css("display", "block");
                        }
                    });
                     loadingBoxStop();
                }
            });
    }
    function addTableRow(categoryName, categoryArea, categoryDouble, categoryBed, options) {
        debugger;
        var template = '<tr><td>' + categoryName + '</td> ' +
            '<td>' + categoryArea + '</td> <td>' + categoryDouble + '</td> ' +
            '<td>' + categoryBed + '</td><td>' + options + '</td>' +
            '<td>';
        var imgTemplate = '<ul class="uploaded-img">';
        formDatab.forEach((value, key) => {
            var newImgTemplate = '<li><img src="data:image/jpeg;base64,' + value + '"></li>';
            imgTemplate = imgTemplate + newImgTemplate;
        });
        imgTemplate = imgTemplate + '</ul></td > ';
        template = template + imgTemplate;
        template = template + '<td class="text-left">\n' +
            '<div class="operation">\n' +
            '<button class="edit-btn">Edit</button>\n' +
            '<button class="delete-btn">Delete</button>\n' +
            '</div>\n' +
            '</td></tr>';



            
        $('#category > tbody:last-child').append(template);
    }
    function faTimeClick() {
        $(this).closest(".avatar-preview").remove();
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            debugger;
            reader.onload = function (e) {
                var $imgTemplate = $('<li class="avatar-preview">\n' +
                    '<div class="container-hotel-cat-img" style="background-image: url(' + e.target.result + ')"></div>\n' +
                    '<i class="fa fa-times" ></i>\n' +
                    '</li>');
                $imgTemplate.find(".fa-times").click(faTimeClick);
                $('#avatar-preview').append($imgTemplate);
                $('#uploaded-img li div').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function() {
        readURL(this);
    });


</script>