<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><localize>@ViewData["Title"]</localize> - ExpressLocalizationSampleCore3Mvc</title>
    <link rel="stylesheet" type="text/css" href="~/fontawesome-free-5.11.2-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/fontawesome-free-5.11.2-web/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fontawesome-free-5.11.2-web/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="~/fontawesome-free-5.11.2-web/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <link rel="stylesheet" href="~/css/rtl.css" />
    }
    @*<link href="~/css/Mabit/style-fa.css" rel="stylesheet" />*@
    <link href="~/css/Mabit/header.css" rel="stylesheet" />
    <link href="~/css/Mabit/m-style.css" rel="stylesheet" />
    @if (System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <link rel="stylesheet" href="~/css/rtl.css" />
    }
</head>
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div id="page-logo">
                    <img src="~/img/page_logo.png">
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div id="page-search">
                                <input type="text" id="page-search-where" placeholder="where to?">
                                <div id="page-search-date">
                                    <span id="page-search-check-in">Check in</span>
                                    <span id="page-search-check-out">Check out</span>
                                </div>
                                <a asp-controller="Account" asp-action="Login" asp-route-culture="@culture">
                                    <div id="page-search-btn">Search</div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="page-menu-link" id="page-login-menu">
                                <img src="~/img/ph_signin.png">
                                <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-culture="@culture" localize-content>Home</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="page-menu-link" id="page-hosting-menu">
                                <img src="~/img/ph_host.png">
                                <a asp-controller="Account" asp-action="Login" asp-route-culture="@culture" localize-content>Hosting</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="page-menu-link" id="page-support-menu">
                                <img src="~/img/ph_support.png">
                                <a asp-controller="Account" asp-action="Login" asp-route-culture="@culture" localize-content>Support</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="page-menu-link" id="page-app-menu">
                                <img src="~/img/ph_app.png">
                                <a asp-controller="Account" asp-action="Login" asp-route-culture="@culture" localize-content>App download</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <language-nav language-label="NativeName"></language-nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ExpressLocalizationSampleCore3Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-culture="@culture" localize-content>Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
